[submodule "htdocs/iryergIkByojErderRuetDiajlokniaryabpabNegicJodghaytniOgoatDeakFi/twilio-php"]
	path = htdocs/iryergIkByojErderRuetDiajlokniaryabpabNegicJodghaytniOgoatDeakFi/twilio-php
	url = https://github.com/twilio/twilio-php.git
